<#include 'macros/common.ftl'>

<@page>
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/main" class="form-inline">
                <input class="form-control" type="text" name="filter" placeholder="Search by tag" value="${filter!}">
                <button type="submit" class="btn btn-primary ml-2">
                    Filter
                </button>
            </form>
        </div>

    </div>



    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new message
    </a>
    <div class="collapse <#if textError?? || tagError??>show</#if>" id="collapseExample">
        <div class="form-group mt-3">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control ${(textError??)?string('is-invalid', '')}" type="text"
                           value="<#if message??>${message.text}</#if>" name="text" placeholder="text here">
                    <#if textError??>
                        <div class="invalid-feedback">
                            ${textError}
                        </div>

                    </#if>

                </div>
                <div class="form-group">
                    <input class="form-control ${tagError???string('is-invalid', '')}" type="text"
                           value="<#if message??>${message.tag}</#if>" name="tag" placeholder="tag">
                    <#if tagError??>
                        <div class="invalid-feedback">
                            ${tagError}
                        </div>

                    </#if>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>

                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-columns">
        <#list messages as message>
            <div class="card mt-3">
                <#if message.filename??>
                    <img src="/img/${message.filename}" class="card-img-top">
                </#if>
                <div class="m-2">
                    <span>${message.text}</span>
                    <i>${message.tag}</i>
                </div>
                <div class="card-footer text-muted">
                    ${message.authorName()}
                </div>
            </div>
        <#else> No messages
        </#list>

    </div>

</@page>